<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="prospectsContainer">
        <ul th:each="customer, iterStat : ${customers}">
            <li th:text="'Prospect ' + ${iterStat.count} + ': ' + ${customer.name} + ' wants to borrow ' + ${customer.totalLoan} + '€ for a period of ' + ${customer.years} + ' years and pay ' + ${customer.monthlyPayment} + '€ each month'"></li>
        </ul>
    </div>
</body>
</html>